@charset "UTF-8";



body {
  font-family: Arial, sans-serif;
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
select,
input[type="date"] {
  width: 300px;
  padding: 5px;
}

.row {
  display: flex;
  margin-bottom: 10px;
}

.row label,
.row input,
.row select {
  margin-right: 20px;
}

.color-options {
  display: flex;
  margin-bottom: 10px;
}

.color-options label {
  margin-right: 10px;
}

.color-box {
  width: 20px;
  height: 20px;
  display: inline-block;
  border: 1px solid #141010;
}

.actions {
  margin-top: 20px;
}

.actions button {
  margin-right: 20px;
}

.eventos:hover {

    color: rgb(154, 216, 252)!important;

}